<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>新增病人資料</title>
    <style>
        th, td {
            border: 2px solid #000000
        }

        th {
            width: 70px
        }
    </style>
    
</head>
<body>
    <form>
        <table style="border:2px solid #000000;margin:10px auto">
            <tr>
                <th colspan="6">基本資料</th>
            </tr>
            <tr>
                <th>姓名</th>
                <td><input type="text" style="width:95%" placeholder="例:林XX" maxlength="5" id="name"  /></td>
                <th>生日</th>
                <td><input type="date" style="width:97%" id="date"  /></td>
                <th>身分證</th>
                <td><input type="text" style="width:95%" maxlength="10" placeholder="例:AXXXXXXXXX" id="mid"  /></td>

            </tr>
            <tr>
                <th>電話1</th>
                <td><input type="text" style="width:95%" placeholder="例:02-XXXX-XXXX" maxlength="12" id="phone1" /></td>
                <th>電話2</th>
                <td><input type="text" style="width:95%" placeholder="例:02-XXXX-XXXX" maxlength="12" id="phone2" /></td>
                <th>行動電話</th>
                <td><input type="text" style="width:95%" placeholder="例:09XXXXXXXX" maxlength="12" id="cellphone"  /></td>

            </tr>
            <tr>
                <th>性別</th>
                <td>
                    <label><input type="radio" id="sex" name="sex" value="男"  checked/>男</label>
                    <label><input type="radio" id="sex" name="sex" value="女"  />女</label>
                </td>
                <th>血型</th>
                <td>
                    <select id="blood">
                        <option value="O">O</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="AB">AB</option>
                    </select>
                </td>
                <th>地址</th>
                <td><input type="text" id="address" style="width:95%" placeholder="例:桃園市XX區XX路XX巷XX號XX樓"  /></td>
            </tr>
            <tr>
                <th colspan="6">家庭</th>
            </tr>
            <tr>
                <th colspan="2">婚姻<br>狀況</th>
                <td colspan="1">
                    <label><input type="radio" name="marriage" id="marriage" value="未婚" checked />未婚</label>
                    <label><input type="radio" name="marriage" id="marriage" value="已婚" />已婚</label>
                    <label><input type="radio" name="marriage" id="marriage" value="離婚" />離婚</label>
                </td>
                <th colspan="2">子女</th>
                <td>
                    <select id="child">
                        <option value="無">無</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th colspan="6">其他</th>
            </tr>
            <tr style="height:100px">
                <th>教育<br>程度</th>
                <td>
                    <label><input type="radio" name="education" id="education" value="國中"  checked/>國中</label>
                    <label><input type="radio" name="education" id="education" value="高中"  />高中<br></label>
                    <label><input type="radio" name="education" id="education" value="大學"  />大學</label>
                    <label><input type="radio" name="education" id="education" value="專科"  />專科<br></label>
                    <label><input type="radio" name="education" id="education" value="碩士"  />碩士</label>
                    <label><input type="radio" name="education" id="education" value="博士"  />博士</label>
                </td>
                <th>工作</th>
                <td>
                    <label><input type="radio" id="jobs" name="jobs" onclick="jo(0)" value="無" checked />無</label>
                    <label><input type="radio" id="jobs" name="jobs" onclick="jo(1)" value="有" />有</label><br>
                    <input type="text" id="company" placeholder="請輸入公司名稱...">
                </td>
                <th>過敏</th>
                <td>
                    <label><input type="radio" id="allergy" onclick="al(0)" name="allergy" value="無" checked />無</label>
                    <label><input type="radio" id="allergy" onclick="al(1)" name="allergy" value="有" />有</label><br>
                    <input type="text" id="allergen" name="allergen" placeholder="請輸入過敏源(食物，藥物)...例:牛奶,毛">
                </td>
            </tr>
            <tr>
                <th colspan="6">習慣</th>
            </tr>
            <tr style="height:100px">
                <th>抽<br>菸</th>
                <td>
                    <label><input type="radio" id="smokes" onclick="sm(0)" name="smokes" value="無" checked />無</label>
                    <label><input type="radio" id="smokes" onclick="sm(1)" name="smokes" value="有" />有</label><br>
                    <input type="text" id="smokes_Y" name="smokes_Y" placeholder="請輸入抽菸幾年">
                </td>
                <th>檳<br>榔</th>
                <td>
                    <label><input type="radio" id="areca" onclick="ar(0)" name="areca" value="無" checked />無</label>
                    <label><input type="radio" id="areca" onclick="ar(1)" name="areca" value="有" />有</label><br>
                    <input type="text" id="areca_Y" name="areca_Y" placeholder="請輸入吃檳榔幾年">
                </td>
                <th>喝<br>酒</th>
                <td>
                    <label><input type="radio" id="wine" onclick="wi(0)" name="wine" value="無" checked />無</label>
                    <label><input type="radio" id="wine" onclick="wi(1)" name="wine" value="有" />有</label><br>
                    <input type="text" id="wine_Y" name="wine_Y" placeholder="請輸入一周喝酒幾次">
                </td>
            </tr>
            <tr>
                <th colspan="6">過去病史</th>
            </tr>
            <tr>
                <td colspan="6">
                    <label><input type="checkbox" name="history[]" value="癌症">癌症</label>
                    <label><input type="checkbox" name="history[]" value="心血管疾病">心血管疾病</label>
                    <label><input type="checkbox" name="history[]" value="慢性呼吸系統疾病">慢性呼吸系統疾病</label>
                    <label><input type="checkbox" name="history[]" value="糖尿病">糖尿病</label>
                    <label><input type="checkbox" name="history[]" value="阿茲海默症">阿茲海默症</label>
                    <label><input type="checkbox" name="history[]" value="注意力不足過動症">注意力不足過動症</label>
                    <label><input type="checkbox" name="history[]" value="自身免疫性疾病">自身免疫性疾病</label>
                    <label><input type="checkbox" name="history[]" value="自閉症">自閉症</label><br>
                    <label><input type="checkbox" name="history[]" value="視力受損">視力受損</label>
                    <label><input type="checkbox" name="history[]" value="腦性麻痺">腦性麻痺</label>
                    <label><input type="checkbox" name="history[]" value="慢性肝炎">慢性肝炎</label>
                    <label><input type="checkbox" name="history[]" value="慢性腎臟病">慢性腎臟病</label>
                    <label><input type="checkbox" name="history[]" value="慢性骨關節疾病">慢性骨關節疾病</label>
                    <label><input type="checkbox" name="history[]" value="慢性疼痛">慢性疼痛</label>
                    <label><input type="checkbox" name="history[]" value="皮膚疾病">皮膚疾病</label>
                    <label><input type="checkbox" name="history[]" value="癲癇">癲癇</label>
                    <label><input type="checkbox" name="history[]" value="纖維肌痛">纖維肌痛</label><br>
                    <label><input type="checkbox" name="history[]" value="愛滋病">愛滋病</label>
                    <label><input type="checkbox" name="history[]" value="高血壓">高血壓</label>
                    <label><input type="checkbox" name="history[]" value="精神疾病">精神疾病</label>
                    <label><input type="checkbox" name="history[]" value="偏頭痛">偏頭痛</label>
                    <label><input type="checkbox" name="history[]" value="慢性疲勞症候群">慢性疲勞症候群</label>
                    <label><input type="checkbox" name="history[]" value="多發性硬化症">多發性硬化症</label>
                    <label><input type="checkbox" name="history[]" value="肥胖症">肥胖症</label>
                    <label><input type="checkbox" name="history[]" value="骨質疏鬆症">骨質疏鬆症</label>
                    <label><input type="checkbox" name="history[]" value="睡眠呼吸中止症">睡眠呼吸中止症</label><br>
                    <label><input type="checkbox" name="history[]" value="甲狀腺疾病">甲狀腺疾病</label>
                    <label><input type="checkbox" name="history[]" value="牙周病">牙周病</label>
                </td>
            </tr>
            <tr>
                <td colspan="6" align="center"><button type="button" class="btn btn-primary" onclick="add()">送出</button></td>
            </tr>

        </table>
    </form>
    <script src="static/js/jquery-3.5.1.min.js"></script>
    <script>
        $("#company").hide()
        $("#allergen").hide()
        $("#smokes_Y").hide()
        $("#areca_Y").hide()
        $("#wine_Y").hide()
        function jo(a) {
            if (a == 0) {
                $("#company").hide()
                $("#company").attr('required','none')
            } else {
                $("#company").show()
                $("#company").attr('required', 'required')
            }
        }

        function al(a) {
            if (a == 0) {
                $("#allergen").hide()
            } else {
                $("#allergen").show()
            }
        }

        function sm(a) {
            if (a == 0) {
                $("#smokes_Y").hide()
            } else {
                $("#smokes_Y").show()
            }
        }

        function ar(a) {
            if (a == 0) {
                $("#areca_Y").hide()
            } else {
                $("#areca_Y").show()
            }
        }

        function wi(a) {
            if (a == 0) {
                $("#wine_Y").hide()
            } else {
                $("#wine_Y").show()
            }
        }

        function add() {
            var name = $("#name").val()
            var date = $("#date").val()
            var mid = $("#mid").val()
            var phone1 = $("#phone1").val()
            var phone2 = $("#phone2").val()
            var cellphone = $("#cellphone").val()
            var sex = $("#sex:checked").val()
            var blood = $("#blood").val()
            var address = $("#address").val()
            var marriage = $("#marriage:checked").val()
            var child = $("#child").val()
            var education = $("#education:checked").val()
            var jobs = $("#jobs:checked").val()
            var allergy = $("#allergy:checked").val()
            var smokes = $("#smokes:checked").val()
            var areca = $("#areca:checked").val()
            var wine = $("#wine:checked").val()
            var history = []
            history = $("input[name='history[]']:checked").map(function () { return $(this).val(); }).get();
            if (history.length == 0) {
                history = '無'
            } else {
                history = history.join()
            }
            if (phone1 == '') {
                phone1 = '無'
            }
            if (phone2 == '') {
                phone2 = '無'
            }
            if (jobs == "有") {
                jobs = $("#company").val()
            }
            if (allergy == "有") {
                allergy = $("#allergen").val()
            }
            if (smokes == "有") {
                smokes = $("#smokes_Y").val()
            }
            if (areca == "有") {
                areca = $("#areca_Y").val()
            }
            if (wine == "有") {
                wine = $("#wine_Y").val()
            }

            var user = {
                name: name,
                date: date,
                mid: mid,
                phone1: phone1,
                phone2: phone2,
                cellphone: cellphone,
                sex: sex,
                blood: blood,
                address: address,
                marriage: marriage,
                child: child,
                education: education,
                jobs: jobs,
                allergy: allergy,
                smokes: smokes,
                areca: areca,
                wine: wine,
                history: history,
            }
            console.log(user)

            $.ajax({
                type: 'post',
                url: 'http://localhost:3000/sql/add',
                data: user
            }).done(function (result) {
                if (result == "1") {
                    alert('新增成功')
                    window.close();
                }
            }).fail(function (err) {
                console.log(err.statusText);
            })
        }
    </script>


</body>


</html>