<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>疾病相關影像診療-bot</title>

    <!-- Favicons -->
    <link href="Dashio/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="Dashio/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="Dashio/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="Dashio/css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="Dashio/lib/gritter/css/jquery.gritter.css" />
    <!-- Custom styles for this template -->
    <link href="Dashio/css/style.css" rel="stylesheet">
    <link href="Dashio/css/style-responsive.css" rel="stylesheet">
    <script src="Dashio/lib/chart-master/Chart.js"></script>
    <style>
        dl {
            margin-left: 20px;
            
        }
        dt{
            font-size:1.5em;
        }
        dd div {
            margin-left: 20px;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 1px;
            color:#000000;
            margin-bottom:13px
        }
        .block {
            width: 100%;
            border: 2px solid #000000;
            border-radius: 10px;
            background-color: #D0D0D0;
        }
        h2 {
            text-align: center;
            color: #000000;
        }
    </style>
</head>

<body>
    <section id="container">

        <!--header-->
        <header class="header black-bg">
            <!--logo start-->
            <a href="index.html" class="logo"><img style="width:100px;height:50px" src="static/picture/cell.png" alt="Gilber"></a>
            <div class="nav notify-row" style="margin-left:40%" id="top_menu">
                <h1 style="font-size:30px;font-style:italic;margin-top:10px">疾病相關影像診療-bot</h1>
            </div>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" >Login</a></li>
                </ul>
            </div>
        </header>       
        
        <!--頁籤-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                   
                    <li class="mt" onclick="chang(1)">
                        <a class="active" href="#" >
                            <span>登革熱</span>
                        </a>
                    </li>
                    <li class="sub-menu" onclick="chang(2)">
                        <a href="#">
                            <span>腸病毒</span>
                        </a>
                    </li>
                    <li class="sub-menu" onclick="chang(3)">
                        <a href="#">
                            <span>嚴重特殊傳染性肺炎</span>
                        </a>
                    </li>
                    <li class="sub-menu" onclick="chang(4)">
                        <a href="#">
                            <span>日本腦炎</span>
                        </a>
                    </li>
                    <li class="sub-menu" onclick="chang(5)">
                        <a href="#">
                            <span>﻿結核病</span>
                        </a>
                    </li>
                    <li class="sub-menu" onclick="chang(6)">
                        <a href="#">
                            <span>伊波拉病毒感染</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>

        <!--主頁-->
        <section id="main-content">
            <section class="wrapper">
                <div class="row">
                    <div class="col-lg-9 main-chart">
                        <!--登革熱-->
                        <div id="d1" class="block">
                            <h2  >登革熱</h2>
                            <hr>
                            <dl>
                                <dt>
                                    1.什麼是登革熱？
                                </dt>
                                <dd >
                                    <div  >
                                        登革熱俗稱「天狗熱」或「斷骨熱」，是一種藉由病媒蚊叮咬而感染的急性傳染病，臨床症狀主要為發燒、頭痛、後眼窩痛、肌肉關節痛、出疹等症狀；登革熱依抗原性可分為Ⅰ、Ⅱ、Ⅲ、Ⅳ型等四種型別。
                                    </div>
                                </dd>
                                <dt>
                                    2.如何預防蚊蟲叮咬？
                                </dt>
                                <dd>
                                    <div >
                                        清除積水容器（孳生源）並定期巡查居家環境、維持整潔，是防止病媒蚊孳生的不二法門，也是目前防治登革熱
                                        最根本的方法。<br>此外，可穿著淺色長袖衣褲、身體裸露部位塗抹政府主管機關核可的防蚊藥劑（蚊蟲忌避劑），避免
                                        蚊蟲叮咬。目前政府主管機關核可的防蚊藥劑，依照所含安全有效化學成分的不同，分為三類，一類是
                                        含有diethyltoluamide/DEET（待乙妥/敵避）的防蚊藥劑，一類含有picaridin（派卡瑞丁），另一類含有IR3535（伊默克），
                                        這三類防蚊藥劑皆可有效達到防蚊效果。<br>建議成人可選用DEET濃度≦50%的防蚊藥劑，而年齡兩個月以上的孩童，只建議使用DEET
                                        濃度為10%至30%的防蚊藥劑，且回到戶內後要清洗乾淨。<br>另外，年齡兩個月以下的嬰兒，含有DEET、picaridin或IR3535成份之防蚊
                                        藥劑並不適用，建議使用外在遮蔽的方式（例如淺色長袖衣褲及蚊帳）防止蚊蟲叮咬。另外，含picaridin（派卡瑞丁）及IR3535（伊默克）的
                                        防蚊藥劑，依目前的產品許可證，僅適用於2歲以上孩童。不論使用哪一類防蚊藥劑，使用前均請閱讀使用說明書上的說明及注意事項。
                                    </div>
                                </dd>
                                <dt>
                                    3.什麼情況下最有可能感染登革熱？
                                </dt>
                                <dd>
                                    <div >
                                        全球登革熱發生的地區，主要在熱帶及亞熱帶有埃及斑蚊及白線斑蚊分布的國家，特別是埃及斑蚊較多之地區，包括亞洲、中南美洲、非洲及
                                        澳洲北部，以及部分太平洋地區島嶼。<br>因此，如果出國前往前述地區旅遊、探親及經商時，均有可能感染登革熱。<br>所以，返國後若有發燒、關
                                        節骨頭痛、後眼窩痛及出疹等登革熱疑似症狀時，均應儘速就醫，並主動交待旅遊史，提供醫師診治參考。<br>此外，如果台灣地區某一縣市發生登
                                        革熱流行，前往該地區，在未做好個人防護之情況下，也有可能感染登革熱。
                                    </div>
                                </dd>
                                <dt>
                                    4.為何需要大家動手清除孳生源？
                                </dt>
                                <dd>
                                    <div >
                                        清除所有積水容器是預防登革熱最有效的辦法，而這項工作不能單靠政府，必須大家一起參與，才能短時間內達成目的。
                                    </div>
                                </dd>
                                <dt>
                                    5.請問感染登革熱是否需要住院隔離？
                                </dt>
                                <dd>
                                    <div >
                                        感染登革熱是否需要住院，將由醫師專業評估，若醫師認為有住院治療需要，在病毒血症期（可傳染期）之患者，只需做好防蚊隔離。<br>例如：使用蚊帳或防蚊藥劑，並不需要強制隔離。
                                        此外，經地方政府衛生局基於公衛防疫需求評估後，認為有住院防蚊隔離必要者，亦請配合衛生局之防治作為辦理。
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <!--腸病毒-->
                        <div id="d2" class="block"  >
                            <h2  >腸病毒</h2>
                            <hr>
                            <dl>
                                <dt>
                                    1.什麼是腸病毒？
                                </dt>
                                <dd>
                                    <div >
                                        腸病毒指的是一群病毒，包含小兒麻痺病毒、克沙奇病毒、伊科病毒及腸病毒等種類，每一個種類還可分為多種型別，總共有數十種以上。
                                    </div>
                                </dd>
                                <dt>
                                    2.要如何預防腸病毒？
                                </dt>
                                <dd>
                                    <div >
                                        目前腸病毒中，除了小兒麻痺病毒以外，沒有疫苗可以預防，所以勤於正確洗手、保持良好個人衛生習慣，減少被傳染的機會是預防的基本方法。<br>
                                        <ol type="1">
                                            <li>正確的洗手方法如下：</li>
                                                <ol type="A">
                                                    <li>在水龍頭下把手淋濕</li>
                                                    <li>擦上肥皂或洗手液</li>
                                                    <li>兩手心互相磨擦</li>
                                                    <li>兩手揉搓自手背至手指</li>
                                                    <li>兩手揉搓手掌及手背</li>
                                                    <li>作拉手姿勢以擦洗指尖</li>
                                                    <li>用清水將雙手洗淨，關水前先捧水將水龍頭沖洗乾淨</li>
                                                    <li>用乾淨的紙巾或烘手機將手烘乾</li>
                                                </ol>
                                            <li>流行期間儘量避免出入公共場所，不要跟疑似病患(家人或同學)接觸，特別是準媽媽、幼童和新生兒，盡量避免接觸腸病毒病人。</li>
                                            <li>家有嬰幼兒的成人工作或外出返家後，務必先更衣洗手，在摟抱、餵食嬰幼兒前，應以肥皂正確洗手。</li>
                                            <li>罹病之學童，宜請假暫勿上課，接受治療並好好休息，同時也可避免傳染其他學童。</li>
                                            <li>平時注意營養、均衡飲食及運動，增強個人之免疫力。也要注意環境衛生及通風。</li>
                                        </ol>
                                    </div>
                                </dd>
                                <dt>
                                    3.得了腸病毒會有什麼症狀？
                                </dt>
                                <dd>
                                    <div >
                                        感染病毒後一般3~5天會出現症狀，但是大多數感染者，沒有臨床症狀或臨床症狀極為輕微，而大部分病例過了幾天之後就會自然痊癒。<br>
                                        典型症狀為口腔、手掌、腳掌出現水泡、潰瘍，可能合併發燒。病程為七至十天。極少數個案，有可能發生無菌性腦膜炎、腦炎、心肌炎、心包膜炎、肺炎、麻痺等併發症
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <!--嚴重特殊傳染性肺炎-->
                        <div id="d3" class="block"  >
                            <h2  >嚴重特殊傳染性肺炎</h2>
                            <hr>
                            <dl>
                                <dt>
                                    1.新型冠狀病毒怎麼傳播？
                                </dt>
                                <dd>
                                    <div >
                                        目前對2019新型冠狀病毒的完整傳播途徑，尚未完全瞭解。當2019年12月武漢不明原因肺炎疫情發生時，案例多數曾至有賣野味的
                                        華南海鮮市場活動，此市場的環境檢體雖檢出2019新型冠狀病毒，但感染源仍無法釐清。<br>
                                        除此，從發病個案的流行病學資訊來看，亦有家庭群聚與醫護人員感染的個案報告，因此高度懷疑可藉由近距離飛沫、直接或間接
                                        接觸病人的口鼻分泌物或體液而增加人傳人之感染風險。
                                    </div>
                                </dd>
                                <dt>
                                    2.感染新型冠狀病毒會有什麼症狀？會很嚴重嗎？
                                </dt>
                                <dd>
                                    <div >
                                        目前已知個案罹患新型冠狀病毒感染症狀之臨床表現為發燒、四肢無力，呼吸道症狀以乾咳為主，有些人可能出現呼吸困難、腸胃道
                                        症狀（多數以腹瀉症狀表現）或嗅覺、味覺喪失（或異常）等症狀。<br>嚴重時可能進展至嚴重肺炎、呼吸道窘迫症候群或多重器官衰竭
                                        、休克等。 依據目前的流行病學資訊，患者大多數能康復，但也有死亡病例，死亡個案多具有潛在病史，如糖尿病、慢性肝病、腎功
                                        能不全、心血管疾病等。
                                    </div>
                                </dd>
                                <dt>
                                    3.我要怎麼預防感染新型冠狀病毒？
                                </dt>
                                <dd>
                                    <div >
                                        應避免直接接觸到疑似COVID-19個案帶有病毒之分泌物與預防其飛沫傳染。<br>
                                        民眾相關預防措施包含：<br>
                                        <ol>
                                            <li>關注並配合中央疫情中心最新公告防疫政策</li>
                                            <li>維持手部衛生習慣（尤其飯前與如廁後）、手部不清潔時不觸碰眼口鼻</li>
                                            <li>避免出入人潮擁擠、空氣不流通的公共場所，並維持社交距離（室外1 公尺，室內1.5公尺）或佩戴口罩</li>
                                            <li>搭乘交通工具遵守佩戴口罩與相關防疫措施</li>
                                            <li>少探病與非緊急醫療求而前往醫院</li>
                                            <li>居家檢疫、居家隔離或自主健康管理者，請遵守相關規範</li>
                                            <li>身體不適時請停止上班上課，先留在家中觀察、休息，需要就醫時請說明旅遊史、接觸史、職業以及周遭家人同事等是否有群聚。</li>
                                        </ol>
                                </dd>
                            </dl>
                        </div>
                        <!--日本腦炎-->
                        <div id="d4" class="block"  >
                            <h2  >日本腦炎</h2>
                            <hr>
                            <dl>
                                <dt>
                                    1.傳染方式
                                </dt>
                                <dd>
                                    <div >
                                        日本腦炎是由病媒蚊傳播的疾病，臺灣以三斑家蚊、環紋家蚊及白頭家蚊為主要的傳播媒介。<br>
                                        豬、鳥類及許多動物因被帶有日本腦炎病毒的病媒蚊叮咬而受到感染，而未帶病毒的病媒蚊則在叮咬正處於病毒血症期（viremia）的動物時受到感染。
                                    </div>
                                </dd>
                                <dt>
                                    2.臨床症狀
                                </dt>
                                <dd>
                                    <div >
                                        感染日本腦炎病毒大部分無明顯症狀，約有小於1%的感染者會出現臨床症狀，最常見的臨床表現是急性腦炎。<br>
                                        有症狀者通常一開始出現非特異性症狀，如發燒、腹瀉、頭痛或嘔吐等，症狀輕微者的臨床表現為無菌性腦膜炎或不明原因發燒，嚴重者，則出現
                                        意識狀態改變、全身無力、高燒、局部神經障礙（腦神經功能損傷、輕癱等）、運動障礙、帕金森氏症候群（Parkinsonism，因錐體外系統功能受損
                                        ，而有面具樣臉、齒輪狀僵直、舞蹈手足徐動症）、神智不清、對人時地不能辨別等，甚至昏迷或死亡。<br>
                                        日本腦炎的致死率約20%至30％，存活病例中，約30%至50％有神經性或精神性後遺症，其產生的神經性後遺症包括不正常肌張力、語言障礙、運動肌
                                        無力、腦神經及錐體外系統異常的神經功能缺損等。精神性後遺症以脾氣暴躁、性格不正常為主，智力不足則常發生在小孩。<br>
                                        日本腦炎與腸病毒、腮腺炎病毒、黴漿菌、皰疹病毒及其他病毒引起的腦炎及腦膜炎不易鑑別，需要以病毒的培養或分子生物學、血清學檢驗協助診斷。
                                    </div>
                                </dd>
                                <dt>
                                    3.預防方法
                                </dt>
                                <dd>
                                    <div  >
                                        一、依規定時程接種日本腦炎疫苗。<br>
                                        <ol type="1">
                                            <li>臺灣自1960年代推動日本腦炎預防接種，使用的是以鼠腦製程之不活化日本腦炎疫苗（inactivated mouse brain-derived JE vaccine），為順應疫苗產製技術轉變與使用趨勢，自2017年5月22日起改採用細胞培養製程之活性減毒嵌合型日本腦炎疫苗（live attenuated JE chimeric vaccine）。
                                            <li>活性減毒嵌合型日本腦炎疫苗幼兒常規接種時程：應接種2劑，出生滿15個月接種第1劑，間隔12個月接種第2劑。而經醫師評估不適合接種活性減毒嵌合型日本腦炎疫苗者，地方政府衛生局（所）有提供不活化日本腦炎疫苗，可請醫療院所協助申請，依其接種時程完成。</li>
                                            <li>針對已接種鼠腦製程之不活化日本腦炎疫苗的幼童，為維護其免疫力及疫苗保護效果，依據「衛生福利部傳染病防治諮詢會（ACIP）」建議，訂定疫苗銜接原則如下：</li>
                                            <ol type="A">
                                                <li>已接種1劑鼠腦製程不活化日本腦炎疫苗：與前一劑鼠腦疫苗間隔至少14天接種第1劑，間隔12個月後接種第2劑。</li>
                                                <li>已接種2劑鼠腦製程不活化日本腦炎疫苗：與最後一劑鼠腦疫苗間隔至少12個月後接種1劑，其後不必再追加。</li>
                                                <li>已接種3劑鼠腦製程不活化日本腦炎疫苗：滿5歲至入學前接種1劑，與最後一劑鼠腦疫苗間隔至少12個月。</li>
                                            </ol>
                                            <li>成人若居住地或工作場所接近豬舍、其他動物畜舍或病媒蚊孳生地點等高風險地區，建議於流行期前（每年3-4月）自費接種日本腦炎疫苗，若至流行地區旅遊，可至旅遊醫學門診諮詢，並依醫師之評估建議自費接種疫苗。</li>
                                        </ol>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <!--結核病-->
                        <div id="d5" class="block" >
                            <h2  >﻿結核病</h2>
                            <hr>
                            <dl>
                                <dt>
                                    1.潛伏結核感染治療:
                                </dt>
                                <dd>
                                    <div  >
                                        只有診斷工具其實還不夠，必須搭配治療才可以有效避免後續發病、傳播。<br>針對潛伏結核感染診斷為陽性者，公衛人員會轉介其至潛伏結核感染治療合作醫師
                                        處進行治療評估，若排除活動性結核病的可能或其他無法治療的因素後，醫師會建議進行潛伏結核感染治療，避免後續發病，傳染給摯愛的人或是影響已排定的重要行程。
                                    </div>
                                </dd>
                                <dt>
                                    2.傳染方式
                                </dt>
                                <dd>
                                    <div >
                                        結核病的傳染方式過去曾有飛沬傳染(Droplet)、塵埃(Dust)、及飛沫核(Droplet nuclei)傳染等學說，而以飛沫核傳染論最為人所接受。<br>帶菌的結核病患者常在吐痰
                                        或藉在公共場所講話、咳嗽、唱歌或大笑時產生的飛沫排出結核菌。<br>這些飛沫在塵埃中，乾燥後飛沫殘核飛揚飄浮在空中，直徑小於5 μ的飛沫殘核便可經由呼吸道到
                                        達正常的肺胞，造成感染。<br>近年來常常使用空氣傳染(Air-born infection)一詞，強調即使離開感染源甚遠，也可能受到感染，不能掉以輕心。<br>然而結核病感染的另一
                                        特徵是感染很難發生，因為結核菌很不容易到達肺的末梢部位。<br>流行感冒或麻疹病毒一旦附著在呼吸道上皮就會發生感染，但結核菌並非如此。<br>傳染最常發生在較親密
                                        的接觸者，常常發生在親近的人，或居住在同房屋者。<br>飲用未經適當消毒之牛奶亦可
                                        能得到腸結核，再擴散至身體其他器官，但目前幾乎沒有這種情況發生。
                                    </div>
                                </dd>
                                <dt>
                                    3.臨床症狀
                                </dt>
                                <dd>
                                    <div  >
                                        結核病的臨床表現千變萬化，初發病時往往沒有明顯或特異性的症狀，且症狀過程緩慢，時好時壞，甚至於侵犯之器官不限於肺部，如淋巴結、腦膜、胸膜、腎臟、骨骼
                                        、皮膚、消化道、泌尿生殖道等使診斷更加困難。<br>在臺灣比較常見的肺外結核是淋巴結核及骨結核，其次為結核性腦膜炎，但肺外結核的發生率遠比肺結核來得低。<br>在初
                                        感染時，大約95％的人會因自身的免疫力而未發病（即潛伏結核感染），但會有終身再活化（Reactivation）的潛在危險，只有5％的人在初感染後結核菌會經由血行或淋
                                        巴液之散播造成肺內或肺外結核（如：結核性腦膜炎）。<br>經過初感染而未發病的人，日後也可能因外在再感染（Exogenous reinfection）而發病臨床上病人常見的症狀有
                                        咳嗽、胸痛、體重減輕、倦怠、食慾不振，發燒、咳血等。<br>唯這些症狀在其他慢性胸腔疾病亦會出現，故只能作為診斷上的參考之用。<br>所以要診斷結核病必須綜合臨床表現
                                        ，加上放射線學之變化，最後再以實驗室檢驗加以證實，才算完整。
                                    </div>
                                </dd>
                                <dt>
                                    4.預防方法
                                </dt>
                                <dd>
                                    <div  >
                                        <ol type="1">
                                            <li>教導民眾認識疾病之傳染方式、防治方法，以便能早期診斷與治療。</li>
                                            <li>改善居住環境，避免過度擁擠，以減少疾病傳染機會。</li>
                                            <li>普及醫療資源，充實醫療設備，以方便病人，接觸者及疑似患者之檢查、治療或住院。</li>
                                            <li>加強病人之追蹤管理，做家庭訪視，以直接監督病人服藥，並安排複查，接觸者檢查及預防接種。</li>
                                            <li>卡介苗的接種</li>
                                        </ol>
                                        目前我國卡介苗接種的政策是：<br>
                                        <ol type="A">
                                            <li>出生滿5個月接種(建議接種時間為出生滿5-8個月)</li>
                                            <li>長住高發生率地區或即將前往結核病高盛行國家，可建議家屬考慮提早接種卡介苗</li>
                                        </ol>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <!--伊波拉病毒感染-->
                        <div id="d6" class="block">
                            <h2  >伊波拉病毒感染</h2>
                            <hr>
                            <dl>
                                <dt>
                                    1.疾病的症狀
                                </dt>
                                <dd>
                                    <div  >
                                        伊波拉病毒感染後初期症狀包括突然出現高燒、嚴重倦怠、肌肉痛、頭痛與咽喉痛等，接著出現嘔吐、腹瀉、腹痛、皮膚斑點狀丘疹與出血現象
                                        。<br>重症者常伴有肝臟受損、腎衰竭、中樞神經損傷、休克併發多重器官衰竭，個案死亡率可高達九成。<br>實驗室檢驗則發現白血球、血小板降低、
                                        凝血功能異常與肝功能指數上升。<br>潛伏期為2到21天，感染者在尚未出現症狀之前並不具傳染力。
                                    </div>
                                </dd>
                                <dt>
                                    2.臨床症狀
                                </dt>
                                <dd>
                                    <div  >
                                        伊波拉病毒感染為伊波拉病毒所引起的嚴重急性疾病，其初期症狀為突然出現高燒、嚴重倦怠、肌肉痛、頭痛等，接著出現嘔吐、腹瀉、腹痛、
                                        皮膚斑點狀丘疹與出血現象。<br>重症者常伴有肝臟受損、腎衰竭、中樞神經損傷、休克併發多重器官衰竭。<br>實驗室檢驗則發現白血球、血小板降低、
                                        凝血功能異常與肝功能指數上升。<br>個案之致死率平均約50%，依過去疫情經驗約在25%-90%。
                                    </div>
                                </dd>
                                <dt>
                                    3.如何預防伊波拉病毒感染？
                                </dt>
                                <dd>
                                    <div  >
                                        目前尚無有效疫苗可供預防接種。其他預防方式包括
                                        <ol>
                                            <li>在流行地區，避免接觸或食用果蝠、猿猴等野生動物。如需接觸動物則應戴手套及穿著合適衣物。食用動物製品（血液或肉）前應煮熟。</li>
                                            <li>
                                                避免直接接觸被感染者之血液、分泌物、器官、精液或可能被污染的環境。<br>如需照顧病患則應配戴手套及合適的個人防護裝備。<br>因目前證據無
                                                法排除藉由性行為傳染的風險，WHO建議所有病患及其性伴侶應接受衛教諮詢並被發放保險套。<br>男性病患於出現症狀後12個月或直到兩次精液檢驗
                                                結果陰性前應避免各種性行為，或全程使用保險套。<br>男性病患應於症狀出現後3個月檢驗精液，如檢驗結果陽性，應持續進行每個月檢驗，直到間
                                                隔1週之兩次檢驗結果陰性。<br>直到精液檢驗陰性前，應落實手部及個人衛生，且處理及丟棄保險套時，需避免接觸到精液。<br>病患屍體應於24小時內
                                                入殮並火化。
                                            </li>
                                            <li>
                                                因疾病初期症狀較不典型，醫護人員照護所有病患需提高警覺並配戴標準防護配備，實施感染控制措施，包括洗手、呼吸道衛生、避免體液噴濺
                                                等。<br>所有進入安置疑似或確定病例隔離病室的工作人員，則應穿著連身型防護衣並配戴N95等級以上口罩、防護面罩、雙層手套、防水長筒鞋套等高
                                                規格個人防護裝備，若病人有嘔吐或腹瀉症狀時，則加穿防水圍裙，避免直接接觸病患之血液及體液，且優先將病人收置於負壓隔離病室等，提升醫
                                                療照護工作人員防護層級。
                                            </li>
                                        </ol>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="col-lg-3 ">
                        <iframe src='https://webchat.botframework.com/embed/AIEN12team1QNAbot2?s=6nsZoeiBGXk.9jWVL7KhCpLmBgam5pLMjYIoVZXak-xNs4u8-uSu4GI' style="height:600px;width:100%;margin-top: 20px;resize:none;border:2px solid #000000;border-radius:10px"></iframe>
                        <!--<textarea >聊天機器人位子</textarea>-->
                    </div>
                </div>
                <!-- /row -->
            </section>
        </section>
        
    </section>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="Dashio/lib/jquery/jquery.min.js"></script>
    <script src="Dashio/lib/bootstrap/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="Dashio/lib/jquery.dcjqaccordion.2.7.js"></script>
    <script src="Dashio/lib/jquery.scrollTo.min.js"></script>
    <script src="Dashio/lib/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="Dashio/lib/jquery.sparkline.js"></script>
    <!--common script for all pages-->
    <script src="Dashio/lib/common-scripts.js"></script>
    <script type="text/javascript" src="Dashio/lib/gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="Dashio/lib/gritter-conf.js"></script>
    <!--script for this page-->
    <script src="Dashio/lib/sparkline-chart.js"></script>
    <script src="Dashio/lib/zabuto_calendar.js"></script>
    <script>
        $("#d2").hide()
        $("#d3").hide()
        $("#d4").hide()
        $("#d5").hide()
        $("#d6").hide()
        function chang(a) {
            $(".block").hide()
            $("#d"+a).show()
        }
    </script>
   
</body>

</html>
