<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>photoshow</title>
</head>
<body>
    <input type="text" id="p_id" value="<%= p_id%>" style="display:none">
    <table id="t1"></table>

</body>
<script src="static/js/jquery-3.5.1.min.js"></script>
<script>
    window.resizeTo(1150, 670)

    user = {
        p_id:$('#p_id').val()
    }
    $.ajax({
        type: 'post',
        url: 'http://localhost:3000/sql/photoshowsearch',
        data: user
    }).done(function (result) {
        console.log(result)
        var str = '<tr>'
        result.forEach(function (data) {
            date = data['date'].substring(0, 10)
            str += "<td style='padding:20px 20px' align='center'><img style='width:400px;height:400px' src='./images/" + data['p_name'] + "'><br>"+date+"</td>";
        })
        str += "</tr>"
        $("#t1").html(str)
    }).fail(function (err) {
        console.log(err.statusText);
    })
</script>
</html>